node_modules/
.next/
.next-build/
.env
.env.local
.env.development
.env.production
.env.test
.env.*.local
.env.bak
.env.*
!.env.example
dev-server.log
tsconfig.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
